
<%- include('partials/head')  %>


<%- include('partials/header')  %>

<div class="container addProduct">
    <section class="">
        <div class="row">
            <div class="col-12 titulo">
                <h5>Registro de productos</h5>
            </div>
            <div class="col-12 productosForm">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="grupo-form">
                        <label for="name">Nombre </label>
                        <br>
                        <input type="text" class="cajaForm" id="name" name="name" required>
                    </div>
                    <div class="grupo-form">
                        <label for="marca">Marca </label>
                        <br>
                        <input type="text" class="cajaForm" id="marca" name="marca" required>
                    </div>
                    <div class="grupo-form">
                        <label for="categoria">Seleccione la categoria </label>
                        <br>
                        <select name="categoria" class="cajaForm" id="categoria">
                            <option value="">Elige una opción</option>                   
                            <option value="Gatos">Gato</option>
                            <option value="Perros">Perro</option>
                        </select>
                    </div>
                    <div class="grupo-form">
                        <label for="subcategoria">Seleccione la subcategoria </label>
                        <br>
                        <select name="id_subcategoria" class="cajaForm" id="subcategoria">
                          <option value="">Elige una opción</option>
                          <% subCategorias.forEach(subcategorias => { %>
                              <option value="<%= subcategorias.id %>"><%= subcategorias.name %></option>
                          <%});%>
                        </select>                        
                    </div>
                    <div class="grupo-form">
                        <label for="precio">Precio </label>
                        <br>
                        <input type="number" class="cajaForm" id="price" name="price" required>
                    </div>
                    <div class="grupo-form">
                        <label for="peso">Peso </label>
                        <br>
                        <input type="number" class="cajaForm" id="peso" name="peso" required>
                    </div>
                    <div class="grupo-form">
                        <label for="discount">Descuento </label>
                        <br>
                        <input type="number" class="cajaForm" id="discount" name="discount" required>
                    </div>                    
                    <div class="grupo-form">
                        <label for="description">Descripción </label>
                        <br>
                        <textarea class="cajaForm" id="description" name="description" cols="30" rows="5" required></textarea>                        
                    </div>
                    <div class="grupo-form">
                        <label for="subirArchivo">Foto del producto</label>
                        <br>
                        <input type="file" class="form-control-file" id="image" name="image">
                    </div>
                    <div class="botones">
                        <button class="btn btn-success btn-cargaProducto" type="submit">Aceptar</button>
                        <button class="btn btn-success" type="button">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>





<%- include('partials/footer')  %>