<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<div class="container cuerpo">
    <!-- APERTURA PRIMER FILA-->
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4 imgProducto">
            <img  src="/images/Productos/<%= producto.image %> " alt=<%= producto.image %>>
        </div>
        <div class="col-12 col-md-12 col-lg-8 DetalleProducto">
            <!--SEGUNDA FILA-->
            <div class="row">
                <!--APERTURA CAJA TITULO-->
                <div class="col-12">
                    <h2 class="tituloProducto"><%= title %></h2>
                </div>
                <!--CIERRE CAJA TITULO-->
                <!--APERTURA CAJA DEL PRECIO-->
                <div class="col-12 col-md-6 col-lg-4 tituloPrecios">
                    <p class="tituloPrecio">Precio</p>
                    <p class="precioOff"><strike>$<%= producto.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike> <strong> <%= producto.discount %>  % OFF -12%</p>
                    <p class="precioTotal">
                        <h2>
                            $<%- (producto.price - producto.price * producto.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> 
                          </h2>
                    </p>
                </div>
                <!--CIERRE CAJA DEL PRECIO-->
                <div class="col-12 col-md-6 col-lg-8">
                    <!--APERTURA CAJA BOTON CANTIDAD-->
                    <div class="botonMinPlus">
                        <button class="btn-minus btn-success">-</button><span class="valorCant"
                            value="1">1</span><button class="btn-plus btn-success">+</button>
                        <button type="button" class="btn btn-primary btn-comprar">Comprar</button>
                    </div>
                </div>
                <!--CIERRE CAJA BOTON CANTIDAD-->

            </div>
            <!--CIERRE SEGUNDA FILA-->

            <div class="row">
                <div class="col-12 col-md-12 tarjetas">
                    <!--APERTURA TARJETAS-->
                    <div>
                        <p>Paga en efectivo o con tarjeta</p>
                        <div class="iconoPago">
                            <i class="fas fa-dollar-sign"></i>
                            <i class="fab fa-cc-amex"></i>
                            <i class="fab fa-cc-mastercard"></i>
                            <i class="fab fa-cc-visa"></i>
                        </div>
                        <button type="button" class="btn btn-light">Ver promociones bancarias</button>
                    </div>
                </div>
                <!--CIERRE TARJETAS-->
                
            </div>
            
        </div>
        <!--APERTURA DESCRIPCION Y FICHA TECNICA-->
        <div class="col-12 col-md-12 acordeon">
            <div class="acordeon_item">
                <input type="checkbox" name="acordeon" id="item1">
                <label for="item1" class="acordeon_titulo"><i class="icono derecho far fa-file-alt"></i> Descripción <i
                        class="icono izquierdo fas fa-chevron-down"></i></label>
                <p class="acordeon_contenido">   $<%-(producto.name) %> <br>
                    $<%-(producto.description) %>
                </p>
            </div>
            <div class="acordeon_item">
                <input type="checkbox" name="acordeon" id="item2">
                <label for="item2" class="acordeon_titulo"><i class="icono derecho fas fa-clipboard-list"></i> Ficha tecnica <i
                        class="icono izquierdo fas fa-chevron-down"></i></label>
                <p class="acordeon_contenido">
                    $<%-(producto.name) %>
                    $<%-(producto.marca) %>
                    $<%-(producto.categoria) %>
                    $<%-(producto.price) %>
                    $<%-(producto.description) %>
                    $<%-(producto.peso) %>
                </p>
            </div>
        </div>
        <!--CIERRE DESCRIPCION Y FICHA TECNICA-->
    </div>
    <!--CIERRE PRIMER FILA-->

</div>
<%- include('./partials/footer.ejs') %>